@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  padding-top: 4.5rem;
}

header {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto";
  font-weight: 300;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 400;
}
button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #4f837f !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  height:fit-content;
  padding: 0.5rem 2.5rem;
  align-items: center;
}

.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #64a19d;
}

.navbar-brand {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  line-height: 1.333;
  padding: 0.9rem 0;
  margin-right: 1.5rem;
  font-size: 2.9rem;
}

.navbar-shrink {
  background-color: #fff;
  color: black;
} 

.navbar-shrink .navbar-brand {
  font-size: 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }
}

#mainNav .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: black;
    outline: none;
    box-shadow: none;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
  padding: 1.25rem 2rem;
  font-family: "Roboto";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
  margin-top: 110px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #548b87;
  border-color: #4f837f;
}

.btn-primary:active {
  color: #fff;
  background-color: #548b87;
  border-color: #4f837f;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.animation {
  position: relative;
  font-weight: 200;
  font-size: 2em;
  margin-top: 20px;
}

.animation .letters {
  color: white;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

#welcome {
  height: 100%;
}

.h-100 {
  height: 100% !important;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  .navbar-expand-lg, .container {
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
  }
  #mainNav.nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
  .masthead {
    height: 100vh;
    padding: 0;
    top: -73px;
  }
  .navbar-light .navbar-brand {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: black;
  }
  #mainNav.navbar-shrink .nav-link {
    color: black;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: black;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #welcome {
    margin-top: 45%;
  }
}

#projects {
  padding-top: 100px;
}

#greeting {
  font-size: 3rem;
  color: white;
}

.mb-5 {
  margin-bottom: 6rem!important;
}

.image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.image img{
  position:absolute;
}


.bg-light {
  background-color: white!important;
}

.img-circle {
  border-radius: 50%;
  width: 20rem;
  margin: 40px auto 40px auto;
  display: flex;
}

.bio {
  margin-top: auto;
  margin-bottom: auto;
}

#intro {
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer {
  padding: 5rem 0;
  margin-top: 5%;
}

.bg-black {
  background-color: #000000 !important;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

#socialMedia {
  margin-left: auto;
  margin-right: auto;
}
